.wrapper {
  min-width: 1024px;
  width: 60.4vw;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    min-width: 670px;
    width: 87vw;
  }

  @media (max-width: $mobile-width) {
    min-width: 270px;
    width: 84vw;
  }
}
