// Viewports
$desktop-width-popup: 1920px;
$desktop-width-only: 1160px;
$small-desktop-width: 1064px;
$tablet-width: 1023px;
$mobile-width: 767px;

// Fonts
$roboto: "Roboto Condensed", "Arial", sans-serif;
$pt-mono: "PT Mono", "Courier New", monospace;

// Colors
$dark-blue: #041827;
$background-header: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
$background-blue: rgba(4, 24, 39, 0.5);
$background-blue--darker: #0474a4;
$background-blue--lighter: #00b3ff;
$background-blue--light: #00b2ff;
$input-background: rgba(4, 20, 39, 0.15);
$border-white: rgba(248, 253, 255, 0.7);
$border-grey: #ebebeb;
$color-grey: #c4c4c4;
$text-white: #f2f5f7;
$text-white-absolute: #ffffff;
$text-white-absolute-70: rgba(255, 255, 255, 0.7);
$color-error: #ff0000;
$background-error: #ffcccc;
$color-overlay: rgba(3, 16, 27, 0.7);
