// Viewports
$desktop-width-only: 1160px;
$small-desktop-width: 1064px;
$tablet-width: 1023px;
$mobile-width: 767px;
$small-mobile-width: 400px;

// Colors
$dark-blue: #041827;
$background-header: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
$background-blue: rgba(4, 24, 39, 0.5);
$background-light-blue: #00b3ff;
$text-white: #f2f5f7;

$text-white-opacity: #d8d8d9;
$text-input: rgba(1, 28, 64, 0.7);
$color-overlay: rgba(0, 43, 102, 0.5);
$color-error: #ff0000;
$background-error: #ffcccc;

// Shadow
$shadow-cruise: 0 4px 35px rgba(1, 28, 64, 0.15);
$shadow-form: 0 4px 45px rgba(1, 28, 64, 0.15);
