.page {
  min-width: 320px;
  width: 100vw;
  height: 100%;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-blue;
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
/*
.page__body--overlay {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-height: 100%;
  background-color: $color-overlay;
  overflow: hidden;
}

.page__overlay {
  position: relative;
}

.page__overlay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background-color: $color-overlay;
  overflow: hidden;
}

.page__main {
  padding: 0;
  margin: 0;
  margin-bottom: 115px;

  @media (max-width: $tablet-width) {
    margin-bottom: 105px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 55px;
  }
}*/

.page__footer {
  margin: 0;
  margin-top: auto;
}
