.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 63.5vw;
  padding-top: 55px;
  padding-bottom: 55px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    width: 87vw;
    padding-top: 55px;
    padding-bottom: 65px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 38px;
  }
}

.footer__logo-and-socials {
  padding: 0;
  margin: 0;
  margin-right: 13%;

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 17px;
  }
}

.footer__logo {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

.footer__wrapper-accordion {
  @media (max-width: $mobile-width) {
    width: 100vw;
    padding: 22px;
    padding-left: 9.5%;
    margin-left: -9.5%;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 1s ease;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
