.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 585px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }
}

.form__wrapper-title {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 33px;
  }
}

.form h2 {
  max-width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-family: $roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $text-white-absolute;

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 42px;
  }
}

.form p {
  display: inline-block;
  max-width: 100%;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  font-family: $pt-mono;
  font-size: 16px;
  line-height: 22px;
  color: $text-white-absolute;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 19px;
  }
}

.form__wrapper-label {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.form__wrapper-label label {
  width: 50%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form input {
  display: block;
  width: 95%;
  min-width: 275px;
  min-height: 50px;
  padding: 15px;
  margin: 0;
  background-color: $input-background;
  border-radius: 3px;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text-white-absolute;
  border: 1px solid $background-blue--lighter;
  box-sizing: border-box;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    background-color: $background-blue;
  }

  &::placeholder {
    color: $text-white-absolute-70;
  }

  @media (max-width: $small-desktop-width) {
    width: 40%;
  }

  @media (max-width: $tablet-width) {
    width: 95%;
    padding: 14px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-width: 270px;
  }
}

.form input[type="text"] {
  margin: 0;
  margin-bottom: 20px;
}

.form input[type="tel"] {
  margin: 0;
  margin-left: auto;
}

.form__textarea {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }
}

.form textarea {
  width: 100%;
  min-height: 155px;
  padding: 15px;
  padding-top: 20px;
  margin: 0;
  background-color: $input-background;
  border: 1px solid $background-blue--lighter;
  border-radius: 3px;
  color: $text-white-absolute;
  box-sizing: border-box;
  resize: none;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    background-color: $background-blue;
  }

  &::placeholder {
    color: $text-white-absolute-70;
  }

  @media (max-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 23px;
    min-height: 180px;
  }
}

.form__wrapper-submit-and-checkbox {
  position: relative;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.form button {
  width: 50%;
  min-width: 265px;
  min-height: 45px;
  padding: 5px;
  padding-top: 12px;
  margin: 0;
  background-color: $dark-blue;
  border: none;
  border-radius: 3px;
  font-family: $roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $text-white-absolute;
  box-sizing: border-box;
  box-shadow: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    width: 40%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 17px;
  }
}

.form input[type="checkbox"] {
  position: absolute;
  right: 0;
  bottom: 0;
  appearance: none;
  width: 10px;
  min-height: 45px;
  background: none;
  border: none;

  @media (max-width: $tablet-width) {
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    bottom: -15px;
    width: 100%;
    height: min-content;
  }
}

.form__wrapper-submit-and-checkbox label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    padding-left: 85px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
  }
}

.form__wrapper-submit-and-checkbox label::after {
  position: absolute;
  content: "";
  left: 50px;
  top: 21px;
  width: 13px;
  height: 13px;
  border: 1px solid $text-white-absolute;

  @media (max-width: $tablet-width) {
    top: 16px;
    left: 85px;
  }

  @media (max-width: $mobile-width) {
    top: 15px;
    left: 6px;
  }
}

.form__wrapper-submit-and-checkbox input:checked + label::before {
  display: block;
  position: absolute;
  content: "";
  left: 53px;
  top: 25px;
  z-index: 1;
  width: 12px;
  height: 8px;
  background-repeat: no-repeat;
  background-image: url("../img/svg/check-mark.svg");

  @media (max-width: $tablet-width) {
    left: 87px;
    top: 19px;
  }

  @media (max-width: $mobile-width) {
    left: 9px;
  }
}

.form span {
  display: block;
  padding: 0;
  padding-top: 17px;
  padding-left: 25px;
  margin: 0;
  font-family: $pt-mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $text-white-absolute;
  opacity: 0.8;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-top: 9px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 5px;
  }
}

.error {
  height: min-content;
  border: 2px solid $color-error;
  box-shadow: 0 0 15px $color-error;
  background-color: $background-error;
  box-sizing: border-box;
}
